/* Main styles */
.main_page_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: var(--2nd_page_bg);
}

.main_page_2 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
}

.main_page_2 h2 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 100px;
    letter-spacing: 8px;
}

.main_page_2 h1 {
    font-weight: 600;
    font-size: 75px;
    line-height: 80px;
    margin-bottom: 10px;
}

.main_page_2 p {
    font-weight: 200;
    margin-bottom: 50px;
}

.main_page_2 button {
    color: var(--brown);
    font-weight: 700;
    border: transparent;
    border-radius: 10px;
    background-color: var(--dark_blue);
    height: 60px;
    width: 200px;
    cursor: pointer;
    transition: ease 0.3s;
}

.main_page_2 button:hover {
    transform: scale(1.05);
    border: 2px solid var(--brown);
    background-color: transparent;
}


.main_page_2 .text {
    flex: 1 1 45%;
    max-width: 600px;
}

/* Image styles */
.main_page_2 .image {
    display: flex;
    flex: 1 1 45%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.main_page_2 .image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main_page_2 .image img:hover {
    transform: scale(1.05);
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cardImage {
    max-width: 100%;
    height: auto;
    width: 500px;
}

@media (max-width: 768px) {
    .main_page_2 h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .main_page_2 button {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_page_2 .content {
        gap: 50px;
    }

    .main_page_2 .text {
        flex: 1 1 100%;
    }
}