:root {
    --brown: #faf3dd;
    --dark_brown: #ffb347;
    --dark_blue: #1a374d;
    --pink: #ff86c8;
    --2nd_page_bg: #2e3440;
    --navbar_bg: #2e34407b;
    --teal: #4a9c8a;
    --teal_text_color: #f8f9fa;
    --button_hover_bg: #e8992d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main {
    width: auto;
    height: 0px;
    color: rgba(0, 0, 0, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat {
    position: absolute;
    font-size: 2rem;
    animation: floatCats linear infinite;
    transition: all 1s ease;
}

@keyframes floatCats {
    0% {
        transform: translateY(0) rotate(0deg);
        /* Start from below */
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
        /* Move upwards past the screen */
    }
}