:root {
    --brown: #faf3dd;
    --dark_brown: #ffb347;
    --dark_blue: #1a374d;
    --pink: #ff86c8;
    --2nd_page_bg: #2e3440;
    --navbar_bg: #2e34407b;
}

html {
    scroll-behavior: smooth;
}